/* Set Default font for all text */
* {
    font-family: arial;
    color: black;
}

/* Set the background colour for each page */
body {
    background-color: #B5E0E7;
}

/* Format all header options */
h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;  
}

h3 {
    font-size: 1.25em;
    font-weight: bold; 
}

h4 {
    font-size: 1.1em;
    font-weight: bold; 
}
/* End of header formatting */

/* Align the header in the center (should include navigation) */
header {
    justify-items: center;
}

/* Footer with double horizontal line */
footer {
    border-top: 4px double black;
    clear: both;
}

/* Assign the <ul> in <nav> to 'navigation' class */
/* Remove bullet-point, indentation and display everything inline */
.menu {
    list-style-type: none;
    padding: 0px;
    display: inline-flex;
}

/* Adds space betweeen the navigation items */
.menu li a {
    margin-right: 10px;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

footer p {
    display: inline-block;
    width: 33%;
}

/* Table styling */
table, th, td { 
    border: 1px solid black;
    text-align: center;
}

td, th {
    background-color: #e0fbff;
}

/*Figure team photo styling */
#team_photo {
    float: right;
}

body {
    margin: 2em;
}