/* Set Default font for all text */
* {
    font-family: arial;
    color: black;
}

/* Set the background colour for each page */
body {
    background-color: #B5E0E7;
    margin: 0px;
}

/* Format all header options */
h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;  
}

h3 {
    font-size: 1.25em;
    font-weight: bold; 
}

h4 {
    font-size: 1.1em;
    font-weight: bold; 
}
/* End of header formatting */

/* Align the header in the center (should include navigation) */
header {
    margin: 1em 2em;
    padding-bottom: 1em;
    justify-items: center;
    border: 2px solid black;
    border-radius: 20px;
}

/* Footer with double horizontal line */
footer {
    border-top: 4px double black;
    clear: both;
}

/* Assign the <ul> in <nav> to 'navigation' class */
/* Remove bullet-point, indentation and display everything inline */
.menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
}

/* Adds space betweeen the navigation items */
.menu li a {
    margin-right: 10px;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

footer p {
    display: inline-block;
    width: 33%;
}

/* STYLING FOR ABOUT PAGE */

/* Table styling */
table, th, td { 
    border: 1px solid black;
    text-align: center;
}

td, th {
    background-color: #e0fbff;
}

td:hover {
    color: darkblue;
    background-color: lightblue;
}

/*Figure team photo styling */
#team_photo {
    float: right;
    border: 2px solid black;
    width: 300px;
    height: 200px;
}

figure {
    margin: 0px;
}

#team_image {
    width: 100%;
    height: 100%;
    float: right;
}

/* Section styling */
#black_section {
    background-color: black;
    padding: 2em;
    text-align: right;
}

#grey_section {
    background-color: lightgrey;
    padding: 2em;
    text-align: left;
}

.white_text {
    color: white;
}

#white_section {
    background-color: white;
    padding: 2em;
}

#about_info { list-style-type: none; }



/* STYLING FOR JOBS PAGE */

#job_aside {
    position: fixed 10px;
    float: right;
    margin-right: 2em;
    padding: 0 0.5em;
    width: 25%;
    min-width: 16em;
    border: 2px solid black;
    border-radius: 10px;
}

#job_list {
    margin: 4em 1em 4em 2em;
    width: 60%;
    min-width: 30em;
}

.job_position {
    padding: 0 1em 1em;
    margin-bottom: 2em;
    border: 1.5px solid black;
    border-radius: 10px;
}

/* Format <a> tag to look like a button */
.job_apply_button {
    display: flex;
    text-decoration: none;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    background-color: #ce0505;
    border: 1px solid black;
    border-radius: 5px;
    height: 3em;
    width: 8em;
    color: white;
}

.job_apply_button:hover {
    background-color: #b51111;
    cursor: pointer;
}

.job_apply_button:active {
    background-color: #ce0505;
}

.content_section {
    background-color: #e0fbff;
}