/* Set Default font for all text */
* {
    font-family: arial;
    color: black;
}

/* Set the background colour for each page */
body {
    background-color: #B5E0E7;
    margin: 0;
}

/* Format all header options */
h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;  
}

h3 {
    font-size: 1.25em;
    font-weight: bold; 
}

h4 {
    font-size: 1.1em;
    font-weight: bold; 
}
/* End of header formatting */

/* Align the header in the center (should include navigation) */
header {
    margin: 1em 2em;
    padding-bottom: 1em;
    justify-items: center;
    border: 2px solid black;
    border-radius: 20px;
}

/* Footer with double horizontal line */
footer {
    border-top: 4px double black;
    text-align: center;
    clear: both;
}

/* Assign the <ul> in <nav> to 'navigation' class */
/* Remove bullet-point, indentation and display everything inline */
.menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
}

/* Adds space betweeen the navigation items */
.menu li a {
    margin-right: 10px;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

footer p {
    display: inline-block;
    width: 33%;
}


/* STYLING FOR JOBS PAGE */
/* Aside element floated to the right */
#job_aside {
    float: right;
    margin: 1em 3em;
    padding: 0 0.5em;
    width: 25%;
    min-width: 16em;
    border: 2px solid black;
    border-radius: 10px;
}

/* Contains all job position sections */
#job_list {
    margin: 2em 1em 4em 3em;
    width: 20%;
    min-width: 50em;
}

/* Section for each different job position */
.job_position {
    padding: 0 1em 1em;
    margin-bottom: 2em;
    border: 1.5px solid black;
    border-radius: 10px;
}

/* Format <a> tag to look like a button */
.job_apply_button {
    display: flex;
    text-decoration: none;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    background-color: #ce0505;
    border: 1px solid black;
    border-radius: 5px;
    height: 3em;
    width: 8em;
    color: white;
}

/* Change colour of button on hover */
.job_apply_button:hover {
    background-color: #b51111;
    cursor: pointer;
}

/* Change colour of button on click */
.job_apply_button:active {
    background-color: #ce0505;
}

/* Defines sections that should have a different background colour */
.content_section {
    background-color: #e0fbff;
}